:root > * {

    --color-brand: #2294b2;
    --main-color: #2294b2;

    --md-primary-fg-color: var(--main-color);
    --md-accent-fg-color: var(--main-color);
    --md-typeset-a-color: var(--main-color) !important;

    --md-footer-bg-color: #1C1C1C;
    --md-footer-bg-color--dark: #181818;

    --md-primary-fg-color--dark: color-mix(in oklch, var(--main-color) 80%, black);

}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #236b94;
    --md-default-bg-color: #1b1b1f;
    --md-code-bg-color: #1c1c1c;
}

.md-header__title {
    margin-left: 0 !important;
}
